#app {
    margin-left: auto;
    margin-right: auto;
    width: 470px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: whitesmoke;
    padding: 10px;
}

body {
    background: url("../img/background.jpg") no-repeat left center fixed;
    background-size: cover;
    zoom: 130%;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

#die {
    display: flex;
}

.dice {
    margin: 10px;
    height: 98px;
}

#roll {
    height: 56px;
    width: 66px;
    outline: none;
    font-size: 18px;
    margin: 17px 10px 0;
    border: 1px solid;
    border-radius: 15px;
    background-color: rgba(29, 162, 34, 0.7);
    transition: all 0.4s;
    cursor: pointer;
    overflow-y: hidden;
}

#roll .top {
    margin-top: 15px;
    display: block;
    transition: margin-top .3s;
}

#roll .bottom {
    margin-top: 50px;
    display: block;
    transition: margin-top .3s;
}

#roll:hover .top {
    margin-top: -37px;
}

#roll:hover .bottom {
    margin-top: 15px;
}

#roll:hover {
    background-color: rgb(32, 176, 37);
}

.dice .number {
    font-size: 60px;
    text-align: center;
    height: 69px;
    margin-bottom: 10px;
}

.value {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    text-align: center;
    width: 19px;
    color: black;
    transition: background-color 0.3s;
}

.value:hover {
    background-color: rgb(255, 255, 255);
}

.value.locked {
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    cursor: default;
}

#score {
    margin-left: auto;
    margin-right: auto;
    width: 344px;
}

#score table {
    border-spacing: 10px;
}

#gameOver {
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100%;
    padding: 0;
    top: 0;

    transition: all 0.5s;
    opacity: 1;
    visibility: visible;

    display: flex;
    justify-content: center;
    align-items: center;
}

#gameOver.hidden {
    visibility: hidden;
    opacity: 0;
}

#gameOverContent {
    text-align: center;
    font-size: 30px;
}

#gameOverButton {
    font-size: 30px;
    margin: 17px 10px 0;
    outline: none;
    border: 1px solid;
    border-radius: 15px;
    background-color: rgba(29, 162, 34, 0.7);
    transition: background-color 0.4s;
    cursor: pointer;
}

#gameOverButton:hover {
    background-color: rgb(32, 176, 37);
}